<!--begin::Root-->
<div class="d-flex flex-column flex-root">
  <!--begin::Page-->
  <div class="page d-flex flex-row flex-column-fluid">

    <app-aside></app-aside>

    <!--begin::Wrapper-->
    <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">

      <app-header></app-header>

      <!--begin::Content-->
      <div class="content d-flex flex-column flex-column-fluid" id="kt_content">

        <app-toolbar></app-toolbar>

        <!--begin::Post-->
        <div class="post d-flex flex-column-fluid" id="kt_post">
          <!--begin::Container-->
          <div id="kt_content_container" class="container-xxl">
            Ovde ide sadrzaj
          </div>
          <!--end::Container-->
        </div>
        <!--end::Post-->
      </div>
      <!--end::Content-->
      <app-footer></app-footer>
    </div>
    <!--end::Wrapper-->
  </div>
  <!--end::Page-->
</div>
<!--end::Root-->
